@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-weight: 400;
      font-family: "Geom", sans-serif;
}

html,body{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}
